h1, h2, h3, h4, h5, h6, ul {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, a, button {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
}

h1 {
    font-size: 2.8rem;
}

h3 {
    font-size: 2.0rem;
}

html {
    font-size: 62.5%;
}

a {
    text-decoration: none;
}

p {
    font-family: "Lora", serif;
}

ul {
    list-style: none;
}

body {
    font-size: 1.6rem;
    font-family: "Lora", serif;
}

h3.aboutUsGallery__cell__heading {
    margin-top:14px;
}

