$black: #2A2A2A;
$grey: #D2CFCF;
$orange: #DA331D;
$gold: #E5BF4B;

@mixin sectionBackground($path) {
	background-image: url($path);
    background-position: center;
    background-size: cover;
}

a {
    text-decoration: none;
    color:#777677;
}

img {
    width: 100%;
    display: block;
}

.wrapper {
    max-width: 1280px;
    width: 80%;
    margin: 0 auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 75px 0;
    margin-bottom:0;
}

li:focus {
    border-left:2px solid turquoise;
}


/* HAMBURGER TOGGLE START */
label[for="toggle"] {
    position: fixed;
    top:25px;
    left:25px;
    color: black;
    z-index: 6;
    font-size: 3rem;
}

.navigation--responsive {
    display: none;
}

#toggle {
    display: none;
}

i.fa-bars {
    display:none;
}

@media (max-width: 1100px) {
    #toggle:checked ~ .navigation--responsive {
        top:0vh;
    }

    .headerNavMenu {
        display: none;
    }

    i.fa-bars {
        display: block;
        cursor: pointer;
        color:white;
       
    }

    .navigation--responsive {
        display:block;
        background: rgba(0,0,0,0.5);
        width: 100%;
        height:100vh;
        position:fixed;
        top:-100vh;
        right:0;
        left:0;
        bottom: 0;
        margin: 0;
        padding: 0;
        padding-left:20px;
        transition: top 0.5s ease-out;
        
        
        & ul {
            display: block;
            height:70vh;
            display: flex;
            flex-direction: column;
            align-items:flex-start;
            justify-content: space-around;
            margin:85px 0 0 0;
            padding: 0;  
        }
        & li a {
            text-decoration: none;
            color: white;
            transition: transform .3s;
            &:hover {
                transform: translate(1.1);

            }
        }
    }

}

/* HAMBURGER TOGGLE END */




/* HOVER BUTTON */

html, body {
 
  -webkit-perspective: 700px;
     -moz-perspective: 700px;
      -ms-perspective: 700px;
          perspective: 700px;
}

/* Reset */
.buttonhov {
  background: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
  outline: 0;
  -webkit-appearance: none;
}

/* Custom */
.buttonhov {
  display: inline-block;
  position: relative;
  padding: 20px 38px;
  top: 0;
  font-size: 30px;
  font-family: "Open Sans", Helvetica;
  border-radius: 4px;
  border-bottom: 1px solid rgba( 28, 227, 125, 0.5 );
  background: rgba( 22, 230, 137, 1 );
  color: #fff;
  box-shadow: 0px 0px 0px rgba( 15, 165, 60, 0.1 );
  
  -webkit-transform: translateZ(0);
     -moz-transform: translateZ(0);
      -ms-transform: translateZ(0);
          transform: translateZ(0);
  
  -webkit-transition: all 0.2s ease;
     -moz-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
          transition: all 0.2s ease;
}

.buttonhov:hover {
  top: -10px;
  box-shadow: 0px 10px 10px rgba( 15, 165, 60, 0.2 );
  
  -webkit-transform: rotateX(20deg);
     -moz-transform: rotateX(20deg);
      -ms-transform: rotateX(20deg);
          transform: rotateX(20deg);
}

.buttonhov:active {
  top: 0px;
  box-shadow: 0px 0px 0px rgba( 15, 165, 60, 0.0 );
  background: rgba( 20, 224, 133, 1 );
}

.buttonhov--start {
    margin-top: 20px; 
    padding: 10px 25px;
}

/* footerSocial hover */


li:hover.facebook {
    border: none;
    box-shadow: 0 0 0px #3b5998;
    transition: all 0.1s ease-in;
}

li:hover .fa-facebook-square {
    color: #3b5998;
    text-shadow: 0 0 4px #3b5998;
    transition: all 0.1s ease-in;
}

li:hover.instagram {
    border: none;
    box-shadow: 0 0 0px #bc2a8d;
    transition: all 0.1s ease-in;
}

li:hover .fa-instagram {
    color: #bc2a8d;
    text-shadow: 0 0 4px #bc2a8d;
    transition: all 0.1s ease-in;

}

li:hover.pinterest {
    border: none;
    box-shadow: 0 0 0px #c21700;
    transition: all 0.1s ease-in;

}

li:hover .fa-pinterest-p {
    color: #dd4b39;
    text-shadow: 0 0 4px #c21700;
    transition: all 0.1s ease-in;

}